<%- include("../../layouts/_admin_header"); -%>

<a class="btn btn-primary" href="/admin/pages">Back All Pages</a>
<br />
<h3>Edit Page: <%= title %></h3>
<%- include("../../layouts/_validation_error_messages"); -%>

<form method="post" action="/admin/pages/update">
    <div class="form-group">
        <label for="title">Enter title</label>
        <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="title">
    </div>
    <div class="form-group">
        <label for="slug">Enter slug</label>
        <input type="text" name="slug" value="<%= slug %>" class="form-control" id="slug" placeholder="slug">
    </div>
    <div class="form-group">
        <label for="content">Enter Page Content</label>
        <textarea name="content" id="ta" class="form-control" rows="3" placeholder="content"><%= content %></textarea>
    </div>
    <input type="hidden" name="id" value="<%= id %>" />
    <button type="submit" class="btn btn-success">Update</button>
</form>

<%- include("../../layouts/_admin_footer"); -%>

