<%- include("../../layouts/_admin_header"); -%>

<h1>All pages</h1>
<a class="btn btn-primary" href="/admin/pages/new">Add Page</a>
<br /><br />

<table class="table table-striped sortable-table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody class="table sortable-table-body">
        <%if(pages) { %>     
            <% pages.forEach((page) => { %> 
                <tr id="id_<%= page._id %>" class="<%= page.slug %>"> 
                    <td><%= page.title %></td>
                    <td><a href="/admin/pages/edit/<%= page._id %>">Edit</a></td>
                    <%if(page.slug == "home") { %>
                        <td></td>
                    <% } else { %>
                        <td><a href="/admin/pages/delete/<%= page._id %>" id="confirmDelete">Delete</a></td>
                    <% } %>
                </tr>
            <% }); %>
        <% } %>        
    </tbody>


</table>
<script  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js" integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E=" crossorigin="anonymous"></script>
<script>

    $('.sortable-table-body').sortable({
        items: "tr:not('.home')",
        placeholder: "sortable-row",
        cursor: "move",
        update: () => {
            let ids = $('.sortable-table-body').sortable('serialize');
            let url = "/admin/pages/reorder-pages";
            $.post(url, ids);
        }
    });

</script>


<%- include("../../layouts/_admin_footer"); -%>
