<%- include("../layouts/_header"); -%>

<%if(typeof cart !== "undefined") { %>
    <table class="table table-striped">
        <tr>
            <th>Image</th>
            <th>Title</th>
            <th>Price</th>
            <th>Qty</th>
            <th></th>
            <th>Subtotal</th>
        </tr>
        <% let total = 0 %>
        <% cart.forEach((product) => { %>
            <% let sub = parseFloat(product.qty * product.price).toFixed(2);  %>             
            <% total += +sub %>    
            <tr>    
                <td><img src="<%= product.image %>" height="100px" width="100px"/></td>
                <td><%= product.title %></td>
                <td><%= product.price %></td>
                <td><%= product.qty %></td>
                <td>
                    <a href="/cart/update/<%= product.title %>?action=increment"> + </a>
                    <a href="/cart/update/<%= product.title %>?action=decrement"> - </a>
                    <a href="/cart/update/<%= product.title %>?action=clear"> clear </a>
                </td>
                <td>
                    $<%= sub %>
                </td>
            </tr>
        <% }); %>
        <tr>
            <td colspan="6" align="right">$<%= parseFloat(total).toFixed(2) %></td>
        </tr> 
        
        <tr>
            <td colspan="4">
                <a href="/cart/clear" class="btn btn-danger" id="confirmDelete" align="right">Clear cart</a>&nbsp;&nbsp;
                <a href="/cart/clear" class="btn btn-success" align="right">Buy Now</a>
            </td>
        </tr>
        
    </table>

<% } else { %>
     <h3 class="text-center">Your cart is empty!</h3>   
<% } %>

<%- include("../layouts/_footer"); -%>