<%- include("../layouts/_header"); -%>

<h1><%= title %></h1>

<%- include("../layouts/_validation_error_messages"); -%>

<form class="form-horizontal" method="POST" action="/users/sign_up">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="username">Username</label>
        <div class="col-sm-10">
            <input class="form-control" id="username" placeholder="username" name="username" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Full name</label>
        <div class="col-sm-10">
            <input class="form-control" id="name" placeholder="name" name="name" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="email">Email</label>
        <div class="col-sm-10">
            <input class="form-control" id="email" placeholder="Email" name="email" type="email">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="password">Password</label>
        <div class="col-sm-10">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="password">Confirm Password</label>
        <div class="col-sm-10">
            <input class="form-control" id="password" name="confirm_password" placeholder="Confirm Password" type="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Sign Up</button>
        </div>
    </div>
</form>

<%- include("../layouts/_footer"); -%>
