<%- include("../layouts/_header"); -%>

<h1><%= title %></h1>

<%- include("../layouts/_validation_error_messages"); -%>

<form class="form-horizontal" method="POST" action="/users/sign_in">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="username">Username</label>
        <div class="col-sm-10">
            <input class="form-control" id="username" placeholder="username" name="username" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="password">Password</label>
        <div class="col-sm-10">
            <input class="form-control" id="password" name="password" placeholder="Password" type="password">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Sign in</button>
        </div>
    </div>
</form>

<%- include("../layouts/_footer"); -%>
