<%- include("../layouts/_header"); -%>

<div class="row">
    <% products.forEach((product) => { %> 

        <div class="col-md-4 product">
            <a href="/products/<%= product.category %>/<%= product.slug %>">
                <img src="/product_images/<%= product._id %>/<%= product.image %>" />
            </a>
            <div class="product-info">
                <div class="product-title">
                    <%= product.title %>
                </div>
                <div class="product-price">
                    <%= parseFloat(product.price).toFixed(2) %>
                </div>
            </div>
        </div>

    <% }); %> 
</div>

<%- include("../layouts/_footer"); -%>
