<%- include("../layouts/_header"); -%>

<div class="row product-details">

    <div class="col-md-6">
        <img src="/product_images/<%= product._id %>/<%= product.image %>" />
    </div>
    <div class="col-md-6">
        <div class="product-info">
            <div class="product-title">
                <%= product.title %>
            </div>
            <div class="product-price">
                <%= parseFloat(product.price).toFixed(2) %>
            </div>
            <%if(isLoggedIn) { %>
            <div class="add_cart">
                <a class="btn btn-success" href="/cart/add/<%= product.slug %>">Add to cart</a>
            </div>
            <% } %>
        </div>        
    </div>
    <div class="col-md-12 gallery-images">
        <ul class="gallery">
            <% galleryImages.forEach(function(image) { %>
                <%if(image != "thumbs") { %>
                    <li>
                        <a data-fancybox="gallery" href="/product_images/<%= product._id %>/gallery/<%= image %>">
                            <img src="/product_images/<%= product._id %>/gallery/thumbs/<%= image %>" />&nbsp;
                        </a>                        
                    </li>
                <% } %>
            <% }); %>
        </ul>       
    </div>
    
</div>

<%- include("../layouts/_footer"); -%>
