<%- include("../../layouts/_admin_header"); -%>

<h1>All categories</h1>
<a class="btn btn-primary" href="/admin/categories/new">Add category</a>
<br /><br />

<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        <%if(categories) { %>     
            <% categories.forEach((category) => { %> 
                <tr id="id_<%= category._id %>" class="<%= category.slug %>"> 
                    <td><%= category.title %></td>
                    <td><a href="/admin/categories/edit/<%= category._id %>">Edit</a></td>
                    <td><a href="/admin/categories/delete/<%= category._id %>" id="confirmDelete">Delete</a></td>
                </tr>
            <% }); %>
        <% } %>        
    </tbody>


</table>

<%- include("../../layouts/_admin_footer"); -%>
