<%- include("../../layouts/_admin_header"); -%>

<a class="btn btn-primary" href="/admin/categories">Back All Categories</a>
<br />
<h3>Create Category</h3>

<%- include("../../layouts/_validation_error_messages"); -%>

<form method="post" action="/admin/categories">
    <div class="form-group">
        <label for="title">Enter title</label>
        <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="title">
    </div>
    <button type="submit" class="btn btn-success">Create</button>
</form>

<%- include("../../layouts/_admin_footer"); -%>
