<%- include("../../layouts/_admin_header"); -%>

<a class="btn btn-primary" href="/admin/products">Back All products</a>
<br />
<h3>Edot Product</h3>

<%- include("../../layouts/_validation_error_messages"); -%>

<form method="post" action="/admin/products/update" enctype="multipart/form-data">

    <div class="form-group">
        <label for="title">Enter title</label>
        <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="title">
    </div>

    <div class="form-group">
        <label for="price">Enter price</label>
        <input type="text" name="price" value="<%= price %>" class="form-control" id="price" placeholder="price">
    </div>

    <div class="form-group">
        <label for="category">Select Categories</label>
        <select name="category" class="form-control">
            <option>---</option>
            <% categories.forEach((cat) => { %>
                <option value="<%= cat.slug %>"
                    <%if (cat.slug == category) { %> 
                        selected="selected"
                    <% } %>                
                ><%= cat.title %></option>
            <% }); %>
        </select>
    </div>
    
    <div class="form-group">
        <label for="description">Enter Product Description</label>
        <textarea name="description" class="form-control" rows="3" placeholder="content"><%= description %></textarea>
    </div>

    <div class="form-group">
        <label for="file">Current product image</label>
        <% if(image == "") { %>
            <img src="/images/productnotfound.jpg" width="60" height="60"/>
        <% }  else { %>
            <img src="/product_images/<%= id %>/<%= image %>" width="60" height="60"/>
        <% } %>
    </div>  


    <div class="form-group">
        <label for="file">Select product image</label>
        <input type="file" name="image" class="form-control" id="img" onchange="previewFile()">
        <img src="#" id="imgPreview" />
    </div>    

    <input type="hidden" name="id" value="<%= id %>" />
    <input type="hidden" name="pimage" value="<%= image %>" />

    <button type="submit" class="btn btn-success">Update</button>

    <hr />
    <h3 class="page-header">Gallery Image</h3>

    <ul class="gallery">
        <% galleryImages.forEach(function(image) { %>
            <%if(image != "thumbs") { %>
                <li>
                    <img src="/product_images/<%= id %>/gallery/thumbs/<%= image %>" />&nbsp;
                    <a href="/admin/products/delete-image/<%= image %>?id=<%= id %>" id="confirmDelete">Delete</a>
                </li>
            <% } %>
        <% }); %>
    </ul>
</form>
<br><br>

<form method="POST" action="/admin/products/product-gallery/<%= id %>" enctype="multipart/form-data" class="dropzone" id="dropzoneForm">
    <div class="fallback">
        <input type="file" name="file" multiple />
        <input type="submit" value="Upload" />        
    </div>
</form>

<br><br>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/basic.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js"></script>

<script>

    // image preview

    function previewFile() {
        let preview = document.querySelector('img');
        let file    = document.querySelector('input[type=file]').files[0];
        let reader  = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }  
    
    
    // dropzone for gallery images

    Dropzone.options.dropzoneForm = {
        acceptedFiles: "image/*",
        init: function() {
            this.on("queuecomplete", function(file){
                console.log(file);
                // setTimeout(() => {
                //     location.reload()
                // }, 1000);
            });
        }
    }

</script>

<%- include("../../layouts/_admin_footer"); -%>
