<%- include("../../layouts/_admin_header"); -%>

<h1>All Products</h1>
<a class="btn btn-primary" href="/admin/products/new">Add Product</a>
<br /><br />

<% if(count > 0) { %>
    <table class="table table-striped sortable-table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Category</th>            
                <th>Image</th>
                <th>Title</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
        </thead>

        <tbody class="table">
            <%if(products) { %>     
                <% products.forEach((product) => { %> 
                    <tr> 
                        <td><%= product.title %></td>
                        <td><%= parseFloat(product.price).toFixed(2) %></td>
                        <td><%= product.category %></td>                 
                        <%if(product.image === "")  { %>
                            <td><img src="/images/productnotfound.jpg" width="60" height="60"/></td>
                        <% } else { %>
                            <td><img src="/product_images/<%= product._id %>/<%= product.image %>" width="60" height="60"/></td>                   
                        <% } %>
                        <td><a href="/admin/products/edit/<%= product._id %>">Edit</a></td>
                        <td><a href="/admin/products/delete/<%= product._id %>" id="confirmDelete">Delete</a></td>

                    </tr>
                <% }); %>
            <% } %>        
        </tbody>
    </table>
<% } else { %>
    <h1>No products found!</h1>
<% } %>

<%- include("../../layouts/_admin_footer"); -%>