<%- include("../../layouts/_admin_header"); -%>

<a class="btn btn-primary" href="/admin/products">Back All products</a>
<br />
<h3>Create Product</h3>

<%- include("../../layouts/_validation_error_messages"); -%>

<form method="post" action="/admin/products" enctype="multipart/form-data">

    <div class="form-group">
        <label for="title">Enter title</label>
        <input type="text" name="title" value="<%= title %>" class="form-control" id="title" placeholder="title">
    </div>

    <div class="form-group">
        <label for="price">Enter price</label>
        <input type="text" name="price" value="<%= price %>" class="form-control" id="price" placeholder="price">
    </div>

    <div class="form-group">
        <label for="category">Select Categories</label>
        <select name="category" class="form-control">
            <option>---</option>
            <% categories.forEach((category) => { %>
                <option value="<%= category.slug %>"><%= category.title %></option>
            <% }); %>
        </select>
    </div>
    
    <div class="form-group">
        <label for="description">Enter Product Description</label>
        <textarea name="description" class="form-control" rows="3" placeholder="content"><%= description %></textarea>
    </div>

    <div class="form-group">
        <label for="file">Select product image</label>
        <input type="file" name="image" class="form-control" id="img" onchange="previewFile()">
        <img src="#" id="imgPreview" />
    </div>    

    <button type="submit" class="btn btn-success">Create</button>

</form>

<script>

    // function readUrl(input){
    //     if(input.files && input.files[0]){
    //         let reader = new FileReader();

    //         reader.onload = (e) => {
    //             $('#imgPreview').attr("src", e.target.result).width(100).height(100);
    //         };

    //         reader.readAsDataURL(input.files[0]);
    //     }
    // };

    // $("#img").change(()=>{
    //     readUrl(this);
    // });

    function previewFile() {
        let preview = document.querySelector('img');
        let file    = document.querySelector('input[type=file]').files[0];
        let reader  = new FileReader();

        reader.addEventListener("load", function () {
            preview.src = reader.result;
        }, false);

        if (file) {
            reader.readAsDataURL(file);
        }
    }    

</script>

<%- include("../../layouts/_admin_footer"); -%>
