body{
  padding-top: 60px;
}


.sortable-table-body tr:not(.home){
  cursor: pointer;
}

.sortable-row{
  border: 1px dashed #ccc;
}

#imgPreview{
  margin: 20px;
  height: 100px;
  width: 100px;
}

ul.gallery {
  margin: 0px;
  padding: 0px;
}

ul.gallery li:first-child{
  margin-left: 0px;
}

ul.gallery li{
  margin: 20px;
  display: inline-block;

}
