body {
  padding: 60px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.product{
  margin: 10px 0px;
  padding: 10px;
}
.product img{
  width: 100%;
  height: auto;
  padding: 20px;
}

.product-info{
  text-align: center;
}

.product-title{
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.product-title{
  font-size: 16px;
  font-weight: bold;
}

.product-details img{
  width: 100%;
  height: auto;
}

.gallery-images{
  margin-top: 10px;
}

.gallery-images ul{
  margin: 0;
}

.gallery-images ul li{
  list-style: none;
  display: inline-block;
  margin: 10px;
  padding: 10px;
}

.gallery-images ul li img{
  width: 100%;
  height: auto;
}
