<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css">    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Express App</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <% pages.forEach((page) => { %>
              <% if(page.slug == "home") {  %>
                <li><a href="/"><%= page.title %></a></li>
              <% } else { %>
                <li><a href="/pages/<%= page.slug %>"><%= page.title %></a></li>
              <% }  %>  
            <% }); %>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/cart/checkout">My Cart (
                  <%if(typeof cart !== "undefined"){ %>
                    <%= cart.length %>
                  <% } else { %>
                    0
                  <% } %>                  
                )</a>
            </li>
            <% if(user) { %>
              <li><a href="/logout">Hi <%= user.username %> (Logout)</a></li>
            <% } else { %>
              <li><a href="/users/sign_up">Sign up</a></li>
              <li><a href="/users/sign_in">Sign in</a></li>              
            <% } %> 
            
            <% if(user && user.admin == 1) { %>
              <li><a href="/admin/pages">Admin area</a></li>
            <% } %>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">      
      
      <%- include("_flash_messages"); -%>

      <div class="row">
        <div class="col-md-3">
          <ul class="list-group">
            <li class="list-group-item"><a href="/products">All Products</a></li>
            <% categories.forEach((cat) => { %> 
            <li class="list-group-item">
              <a href="/products/<%= cat.slug %>"><%= cat.title %></a>
            </li>
            <% }); %>
          </ul>
        </div>
        <div class="col-md-9">


